/*html, body {
  }
  
body {
    background: linear-gradient(-45deg, #fab49e, #f5b3cc, #d0effa, #cef8ee);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}*/